/**
 * Styles for the counter block.
 */
.counter {
    position: absolute;
    bottom: 40px;
    left: 40px;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 1;
    text-transform: uppercase;
    -webkit-text-fill-color: #3A3637;
    -webkit-text-stroke: 0.5px white;
    // Selector styles
    // TODO: add code

    // @media queries
    // TODO: add code

    // Pseudo-classes and pseudo-elements
    // TODO: add code

    // Nested selectors
    // TODO: add code

    // BEM elements
    // TODO: add code

    // BEM modifiers
    // TODO: add code
}