@mixin placeholder {
    &::-webkit-input-placeholder {
        @content
    }

    &:-moz-placeholder {
        @content
    }

    &::-moz-placeholder {
        @content
    }

    &:-ms-input-placeholder {
        @content
    }
}

.input {
    padding: 5px;
    border: none;
    background: none;
    border-bottom: 1px solid #fff;

    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    font-family: $font-family-sans-serif;

    text-transform: lowercase;

    color: #FFFFFF;

    @include placeholder {
        font-family: $font-family-sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        /* identical to box height */

        text-transform: lowercase;

        color: #FFFFFF;
    }

    // Selector styles
    // TODO: add code

    // @media queries
    // TODO: add code

    // Pseudo-classes and pseudo-elements
    // TODO: add code

    // Nested selectors
    // TODO: add code

    // BEM elements
    // TODO: add code

    // BEM modifiers
    // TODO: add code
}