/**
 * Styles for the nav block.
 */
.nav {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    padding-left: 45px;

    &__burger {
        display: none;
    }

    &__list {
        list-style: none;
        margin: 0;
        padding: 0;
        border-left: 1px solid currentColor;
        padding-left: 20px;

    }

    &__item {
        display: block;
        position: relative;
    }

    &__item.active {
        font-weight: bold;

        &:before {
            left: -26px;
            top: 11px;
            position: absolute;
            display: block;
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 7.5px 0 7.5px 16px;
            border-color: transparent transparent transparent #ffffff;
        }
    }

    &__link {
        color: #FFFFFF;
        text-decoration: none;
        line-height: 40px;
    }

    // Selector styles
    // TODO: add code

    // @media queries
    // TODO: add code

    // Pseudo-classes and pseudo-elements
    // TODO: add code

    // Nested selectors
    // TODO: add code

    // BEM elements
    // TODO: add code

    // BEM modifiers
    // TODO: add code
}