/**
 * Styles for the logo block.
 */
.logo {
    // Selector styles
    // TODO: add code
    position: absolute;
    top: 0;
    left: 0;

    // @media queries
    // TODO: add code

    // Pseudo-classes and pseudo-elements
    // TODO: add code

    // Nested selectors
    // TODO: add code

    // BEM elements
    // TODO: add code

    // BEM modifiers
    // TODO: add code
}