/**
 * Styles for the aside block.
 */
.aside {
    background-color: #3a3637;
    width: 220px;
    display: flex;
    align-items: center;
    // Selector styles
    // TODO: add code

    // @media queries
    // TODO: add code

    // Pseudo-classes and pseudo-elements
    // TODO: add code

    // Nested selectors
    // TODO: add code

    // BEM elements
    // TODO: add code

    // BEM modifiers
    // TODO: add code
}